/* żeby zauważyć efekt rotate() należy ustawić transition*/

#transform img {
/*    transform: rotate(20deg);*/
    transition: all 1s linear;    
}

#transform img:hover {   
    transform: rotate(360deg);
}

#transform-vin img {
    width: 25%;
    height: 25%;
    text-align: center;
    margin: auto;
}

/*translate służy do przesuwania elementów: można używać pixele i %*/

/*
translateX() - do przesuwania po osi X
translateY() - do przesuwania po osi Y
translate(ox, oy) - skrócona wersja
*/


#transform2 img {
   transition: all 1s linear;
}

#transform2 img:hover {
   transform: translate(150px, -100px);
}

/*
scale() - powiększa obraz/element
scaleX() - tylko w poziomie
scaleY() - tylko w pionie
parametrem jest liczba rzeczywista
*/

#transform3 img {
   transition: all 1s linear;
}

#transform3 img:hover {
   transform: scale(0.5, 2);
}

#animate img {
    animation-name: obroc;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes obroc {
    0% {
        transform: rotate(0deg);
    }
    
    50% {
        transform: rotate(180deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
}

/*mixowanie vinyla moje*/
/*
#transform-vin img {
    transform: rotate(20deg);
    transition: all 1s linear;    
}

#transform-vin img:hover {
    
    transform: rotate(360deg);
}*/
